<div class="witcher-card">
    <!-- <img class="witcher-image" [src]="witcher.name" [attr.alt]="witcher.title"> -->
    <div class="witcher-details">
        <h3 class="witcher-title"> {{witcher.name}} </h3>
        <p class="witcher-price">ID: {{witcher.id}} </p>
        <p class="witcher-price"> {{witcher.school}} </p>
        <p class="witcher-description"> {{witcher.monsterKilled}} </p>
        <p class="witcher-category"> {{witcher.location}} </p>
        <div class="witcher-rating">
            <span class="rating-value"> {{witcher.school}} </span>
        </div>
    </div>
</div>